<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>org.scribble.voice.share</string>
<key>CFBundleName</key><string>Scribble</string>
<key>CFBundleDisplayName</key><string>Add to Scribble</string>
<key>CFBundleExecutable</key><string>ScribbleShare</string>
<key>CFBundlePackageType</key><string>XPC!</string>
<key>CFBundleVersion</key><string>1</string>
<key>CFBundleShortVersionString</key><string>1.0</string>
<key>LSMinimumSystemVersion</key><string>14.0</string>
<key>NSExtension</key><dict>
<key>NSExtensionPointIdentifier</key><string>com.apple.share-services</string>
<key>NSExtensionPrincipalClass</key><string>ShareViewController</string>
<key>NSExtensionAttributes</key><dict>
<key>NSExtensionActivationRule</key><dict>
<key>NSExtensionActivationSupportsFileWithMaxCount</key><integer>100</integer>
<key>NSExtensionActivationSupportsMovieWithMaxCount</key><integer>100</integer>
</dict>
</dict>
</dict></dict></plist>
